$blueColor: rgba(0, 41, 255, 1);
$boxShadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

*{
  box-sizing: border-box;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}